/* BUTTON CSS */
.Button-edit {
  padding: 3px;
  color: #ffffff;
  background-color: #5499c3;
  border-radius: 6px;
  border: 1px solid #5499c3;
  min-width: 4em;
  text-align: center;
  font-size: 0.9em;
}
