/* MODAL CSS */
.modal .modal-content {
  padding: 0px;
}

h4 {
  background-color: #5499c3;
  font-family: Montserrat;
  font-size: 1.25em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 0px;
}

.modal-footer {
  display: none;
  height: 0px !important;
}

.Modal-body-box {
  padding: 10px !important;
  border-bottom: 1px solid #EAEAEA !important;
}

.Transaction-box {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

.Text-blue {
  font-family: Montserrat;
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #5499c3;
}

.Text-blue-bold {
  font-family: Montserrat;
  font-size: 0.9em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #5499c3;
}

.Text-grey {
  font-family: Montserrat;
  font-size: 0.9em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #666666;
}

.Text-grey-bold {
  font-family: Montserrat;
  font-size: 0.9em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #666666;
}

/* BUTTON CSS */
.Button-cancel {
  padding: 3px;
  color: #666666;
  border-radius: 6px;
  border: 1px solid #666666;
  min-width: 4em;
  text-align: center;
  font-size: 0.9em;
}

.Button-skip {
  padding: 3px;
  color: #5499c3;
  border-radius: 6px;
  border: 1px solid #5499c3;
  margin-left: 10px;
  min-width: 4em;
  text-align: center;
  font-size: 0.9em;
}

.Button-edit {
  padding: 3px;
  color: #ffffff;
  background-color: #5499c3;
  border-radius: 6px;
  border: 1px solid #5499c3;
  margin-left: 10px;
  min-width: 4em;
  text-align: center;
  font-size: 0.9em;
}

.Button-start {
  padding: 3px;
  color: #ffffff;
  background-color: #f68606;
  border-radius: 6px;
  border: 1px solid #f68606;
  min-width: 4em;
  text-align: center;
  font-size: 0.9em;
}

.Button-finish {
  padding: 3px;
  color: #ffffff;
  background-color: #27B50A;
  border-radius: 6px;
  border: 1px solid #27B50A;
  min-width: 4em;
  text-align: center;
  font-size: 0.9em;
}
