.bottom-navbar {
  margin-top: 3rem;
}

.side-bar {
  height: 100%;
  background-color: dodgerblue;
  color: white;
}

.content {
  height: 100%;
  background-color: rgb(247, 247, 247);
}

.full-height {
  height: 54.5rem;
}

.white-color {
  color: white;
}

.right-place {
  margin-left: auto;
}

.space-between {
  display: flex;
  justify-content: space-between;
}
